/* color theme will likely be shades of light pink */

:root {
  --primary-color: #FFEECC;
  --secondary-color: #FFDDCC;
  --tertiary-color: #FFCCCC;
  --fourth-color: #FEBBCC;
  --fifth-color: #ff8e8f;
  --text-color: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  background-image: linear-gradient(275deg, var(--secondary-color), var(--tertiary-color), var(--fourth-color), var(--fifth-color));
}


body {
  background-image: linear-gradient(var(--secondary-color), var(--tertiary-color), var(--fourth-color), var(--fifth-color));
  color: var(--text-color);
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 500;
  max-width: 80%;
  margin: 0 auto;
  text-transform: uppercase;
}

h1 {
  color: var(--fifth-color);
  text-align: center;
  margin: 0.75rem;
  padding: 2rem;
}


.pokemon-list {
  list-style-type: none;
  width: 80%;
  margin-top: 80px;
}

.list-container {
  display: flex;
  justify-content: center;
}

.modal-content {
  background-color: var(--fourth-color);
  border: 3px #ff8e8f;
}


/* Below is styling for my own custom modals */
#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999; 
  overflow: auto; 
  display: grid;
  text-align: center;
  overflow: auto;
  touch-action: none;
}


/* Specific only to the button - remember to style li element if needed as it is the parent */
.pokemon-button {
  background-color: var(--fourth-color);
  color: var(--text-color);
  border-width: 2px;
  border-color: var(--fifth-color);
  border-radius: 15px;
  width: 100%;
  margin: 0.5em auto;
  padding: 8px; 
  text-transform: uppercase;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  touch-action: none;
}

.pokemon-button:hover, .pokemon-button:active {
  cursor: pointer;
}

.loading-message{
  margin: 0 auto;
  width: 100px;
  padding: 5px;
  display: block;
  margin-top: 4rem;
  animation: pokeball-rotate 5s infinite linear;
}

@keyframes pokeball-rotate {
  100% {
    transform: rotate(360deg);
  }  
}

.poke-modal {
  background-color: var(--fourth-color);
  width: 100%;
  max-width: 70vw;
  margin: auto;
  padding: 10px;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border-radius: 15px;
  border: 5px solid;
  border-color: var(--fifth-color);
}

.pokemon-image {
  height: 15vw;
}

.close-button {
  float: right;
  margin: auto;
  background-color: var(--fifth-color);
  border-radius: 3px;
  padding: 4px;
}
